@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
:root{
    --green-main:#6B9641;
    --green-secondary:#7EA650;
    --gold-main:#f7c631;
    --light-main:rgb(255 247 237);
}
a:link,a:visited{
    color:inherit;
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    color:#111;
    background-color: var(--light-main);
    display:flex;
    flex-direction: column;
    min-height:100vh;
}
html{
    font-size:62.5%;
}
section {
    padding:6.4rem 0rem;
}

img{
    max-width: 100%;
}

.hidden{
    display:none;
}
.heading__primary{
    font-size:6.4rem;
    text-align: center;
    margin-bottom:4.8rem;
}

.container{
    max-width: 128rem;   
    padding-left:6.4rem;
    padding-right:6.4rem;
    margin:0 auto;
}


.gallery__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
    width: 100%;
}
.gallery__container div{
    height:25rem;
    overflow: hidden;
}

.gallery__container img {
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    transition: 0.4s all;
}
.gallery__container img:hover{
    transform:scale(1.1);
}
