

/*------------*/
/*HERO SECTION */
/*------------*/
.hero__header{
    background-color:#111;
}


.hero__section{

    display:flex;
    max-width: 1280px;
    padding:0 6.4rem;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
    height:100vh;
}
.hero__quote{
    font-size:4.8rem;
    font-weight: 700;
    color:white;
    text-align:justify;
    letter-spacing:1px;
    font-style: italic;
    animation: fadeTitle 1.5s ease-in-out 0.5s 1;

}
.hero__image{
    width: 40%;
    animation: fadeHeroImg 1.5s ease-in-out 0.5s 1;
}
@keyframes fadeTitle{
    0% {
        transform: translateX(-70%);
        opacity: 0;
      }
    80%{
        transform: translateX(2%);
    } 
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeHeroImg{
    0% {
        transform: translateX(70%);
        opacity: 0;
      }
    80%{
        transform: translateX(-2%);
    } 
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/*------------*/
/*SKILLS SECTION*/
/*------------*/
.skills__element{
    display:grid;
    grid-template-columns: 50fr 50fr;
    gap:4.8rem;
    
}
.skills__content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1.5s;
}
.skills__image{
    transition: all 1.5s;
}
.skills__left{
    transform: translateX(-10%);
    opacity:0;
}
.skills__right
{
    transform: translateX(10%);
    opacity:0;
}
.skills__title{
    display: flex;
    align-items: center;
    gap:2rem;
    font-size:3.2rem;
    font-weight: bold;
    margin-bottom:1.2rem;
}
.skills__description{
    font-size:2.4rem;
    line-height:1.3;
    font-weight:500;
}
.skills__container{
    display:flex;
    flex-direction: column;
    gap:6.4rem;
}
/*------------*/
/*current tournament SECTION*/
/*------------*/
.current__container{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    width:60%;
    margin:0 auto;
    padding:2.4rem;
    background-color: white;
    border-radius:5px;


}
.current__title{
    font-size:3.2rem;
    text-align: center;
    letter-spacing: 1px;
}
.current__description{
    font-size:2rem;
    margin-top:1.6rem;
    line-height: 1.5;
}
.current__description__heading{
    margin-top:1.6rem;
    font-size:2.4rem;
    letter-spacing: 1px;
}
.current__description ul{
    display:flex;
    flex-direction: column;
    gap:0.8rem;
    margin-bottom:1.6rem;
}
.current__description ul li{
    font-size:2rem !important;
    margin-left:3.2rem;
}
.current__ending__message{
    margin-top:2rem;
    font-weight: bold;
    text-align: end;
}
/*------------*/
/*Previous tournaments SECTION*/
/*------------*/
.previous__container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:2.4rem;
}
.previous__element{
    color:rgb(1, 0, 14);
    padding:1.6rem;
    border-radius:5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer;
    transition: all  0.4s;
    background-color: white;
}
.previous__title{
    font-size:3rem;
    letter-spacing:0.2px;
    margin-top:1.2rem;
    margin-bottom:0.8rem;
    
}
.previous__description{
    font-size:2rem;
    line-height:1.3;
}
.previous__element:hover{
    transform: scale(1.1);
}
.previous__element__hide{
    transform: translateX(100%);
    opacity: 0;
}
.previous__link{
    width: fit-content;
    margin-top:3.2rem;
    font-size:3.2rem;
    font-weight: 700;
    display:flex;
    align-items: center;
    gap:1.6rem;
    background-color: var(--green-main);
    color:white;
    text-align: center;
    padding:1.2rem 2.4rem;
    border-radius:5px;
    transition: 0.2s all;
    float:right;
}
.previous__link:hover{
    background-color:(--green-secondary);
}
